<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eShopper - Phone Shop Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/price-range.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/price-range.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/main.js"></script>

    
</head>
<body bgcolor="#0099FF">

    <!-- EShopper part-->
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +84 (08) 38 123 456</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()

                                            <li>
                                                @Html.ActionLink("Hello " + User.Identity.Name , "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                            </li>
                                            <li><a href="javascript:localStorage.removeItem('mobile_cart');document.getElementById('logoutForm').submit()">Log off</a></li>
                                    }
                                }
                                else
                                {
                                    @*<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>*@
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    Vietnam
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Vietnam</a></li>
                                    <li><a href="#">US</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    VND
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">VND</a></li>
                                    <li><a href="#">USD</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-user"></i> Account</a></li>
                                @*<li><a href="@Url.Action("Checkout","CartDetail")"><i class="fa fa-crosshairs"></i> Checkout</a></li>*@
                                <li><a href="@Url.Action("Cart", "ShoppingCart")"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a href="@Url.Action("Login","Account")"><i class="fa fa-lock"></i> Login</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        @*<div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="index.html" class="active">Home</a></li>
                                <li class="dropdown">
                                    <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="@Url.Action("PhoneList","Phone")">Phones</a></li>
                                        <li><a href="@Url.Action("PhoneDetail","Phone")">Phone Details</a></li>
                                        <li><a href="@Url.Action("Checkout","CartDetail")">Checkout</a></li>
                                        <li><a href="@Url.Action("Cart", "ShoppingCart")">Cart</a></li>
                                        <li><a href="@Url.Action("Login","Account")">Login</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Blog List</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </div>*@
                    </div>
                    @*<div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>*@
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->
    <!--End EShopper part-->
    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>Mobile E-Commerce Website</h2>
                                    <p><!--HUngDM: ADD Slider name-->50% cost  </p>
                                    @*<button type="button" class="btn btn-default get">Get it now</button>*@
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Content/images/home/m2.jpg" class="girl img-responsive" alt="" />
                                    <img src="~/Content/images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>100% Responsive Design</h2>
                                    <p><!--HUngDM: ADD Slider name-->Exclusive Design . </p>
                                    @*<button type="button" class="btn btn-default get">Get it now</button>*@
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Content/images/home/m4.jpg" class="girl img-responsive" alt="" />
                                    <img src="~/Content/images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>Free Ecommerce Template</h2>
                                    <p>New Release </p>
                                    @*<button type="button" class="btn btn-default get">Get it now</button>*@
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Content/images/home/m6.jpg" class="girl img-responsive" alt="" />
                                    <img src="~/Content/images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>

                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    @*
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
        *@

    <div class="container body-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        <!--HungDM : ADD name layout category -->
                                        SamSung Mobile
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">SamSung S1 </a></li>
                                        <li><a href="#">SamSung S2 </a></li>
                                        <li><a href="#">SamSung S3 </a></li>
                                        <li><a href="#">SamSung S4</a></li>
                                        <li><a href="#">SamSung S5 </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--APPLE-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        <!--HungDM : ADD name layout category -->
                                        Apple
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">Iphone 1</a></li>
                                        <li><a href="#">Iphone 2</a></li>
                                        <li><a href="#">Iphone 3</a></li>
                                        <li><a href="#">Iphone 4S</a></li>
                                        <li><a href="#">Iphone 5</a></li>
                                        <li><a href="#">Iphone 6</a></li>
                                        <li><a href="#">Iphone 7</a></li>
                                        <li><a href="#">Iphone 3G</a></li>
                                        <li><a href="#">Iphone 6S</a></li>
                                        <li><a href="#">Iphone 6S Plus</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <!--HTC-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        <!--HungDM : ADD name layout category -->
                                        HTC
                                    </a>
                                </h4>
                            </div>
                            <div id="womens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">HTC Desire 10 Pro</a></li>
                                        <li><a href="#">HTC U Play</a></li>
                                        <li><a href="#">HTC One A9</a></li>
                                        <li><a href="#">HTC U Ultra</a></li>
                                        <li><a href="#">HTC Desire 628</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--LG-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportwears">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        <!--HungDM : ADD name layout category -->
                                        LG Mobile
                                    </a>
                                </h4>
                            </div>
                            <div id="sportwears" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">LG V20</a></li>
                                        <li><a href="#">LG G Pro 2 2</a></li>
                                        <li><a href="#">LG G5</a></li>
                                        <li><a href="#">LG G3 D858 4S</a></li>
                                        <li><a href="#">LG G3</a></li>
                                        <li><a href="#">LG Google Nexus 5</a></li>
                                        <li><a href="#">LG G4 </a></li>
                                        <li><a href="#">LG Optimus Pro</a></li>
                                    </ul>
                        </div>
                            </div>
                        </div>

                        <!--SONY -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sony">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        <!--HungDM : ADD name layout category -->
                                        SONY
                                    </a>
                                </h4>
                            </div>
                            <div id="sony" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">Sony Xperia </a></li>
                                        <li><a href="#">Sony Xperia XZ</a></li>
                                        <li><a href="#">Xperia XZ Premium</a></li>
                                        <li><a href="#">Xperia XA1 Ultra</a></li>
                                        <li><a href="#">Xperia XA1</a></li>
                                    </ul>
                        </div>
                            </div>
                        </div>

                        <!--XIAOMI-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        <!--HungDM : ADD name layout category -->
                                        XIAOMI
                                    </a>
                                </h4>
                            </div>
                            <div id="womens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">Redmi Note 4</a></li>
                                        <li><a href="#">Redmi 3s</a></li>
                                        <li><a href="#">Mi 5</a></li>
                                        <li><a href="#">Mi Air Purifier 2 </a></li>
                                        <li><a href="#">Mi Power Bank</a></li>
                                    </ul>
                        </div>
                            </div>
                        </div>

                        <!--MOTOROLA-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        <!--HungDM : ADD name layout category -->
                                        MOTOROLA
                                    </a>
                                </h4>
                            </div>
                            <div id="sportwears" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">‎Motorola Moto M </a></li>
                                        <li><a href="#">‎Motorola Moto G4 Plus</a></li>
                                        <li><a href="#"> ‎Motorola Moto Z Play · ‎4G</a></li>
                                    </ul>
                        </div>
                            </div>
                        </div>

                        <!--MICROMAX-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        <!--HungDM : ADD name layout category -->
                                        MICROMAX
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">‎Micromax Canvas Gold A300</a></li>
                                        <li><a href="#">‎Micromax Canvas Knight</a></li>
                                        <li><a href="#"> ‎Micromax Canvas Doodle</a></li>
                                        <li><a href="#">‎Micromax 4G Phones</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--TABLET-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        <!--HungDM : ADD name layout category -->
                                        TABLET
                                    </a>
                                </h4>
                            </div>
                            <div id="womens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">Iphone 1</a></li>
                                        <li><a href="#">Iphone 2</a></li>
                                        <li><a href="#">Iphone 3</a></li>
                                        <li><a href="#">Iphone 4S</a></li>
                                        <li><a href="#">Iphone 5</a></li>
                                        <li><a href="#">Iphone 6</a></li>
                                        <li><a href="#">Iphone 7</a></li>
                                        <li><a href="#">Iphone 3G</a></li>
                                        <li><a href="#">Iphone 6S</a></li>
                                        <li><a href="#">Iphone 6S Plus</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    <!--BLACK BERRY-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        <!--HungDM : ADD name layout category -->
                                        SONY
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#">Z3</a></li>
                                        <li><a href="#">Curve 9380</a></li>
                                        <li><a href="#">Style 9670</a></li>
                                        <li><a href="#">Porsche Design P9982</a></li>
                                        <li><a href="#">DTEK50</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                   
                        </div>

                    <!--brands_products-->
                    @*<div class="brands_products">
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
                                <li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                                <li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
                                <li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
                                <li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
                                <li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
                                <li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                            </ul>
                        </div>
                    </div>*@
                    <!--/brands_products-->



                    <!--price-range-->
                    <div class="price-range">
                        <h2>Price Range</h2>
                        <div class="well text-left" style="padding-top: 0px; line-height: 30px">
                            @*<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>*@
                            <input type="radio" name="price" value="0" /><b>Below 1,000,000 </b><br/>
                            <input type="radio" name="price" value="1" /><b>1,000,000 to 5,000,000 </b><br />
                            <input type="radio" name="price" value="2" /><b>5,000,000 to 10,000,000</b><br />
                            <input type="radio" name="price" value="3" /><b>10,000,000 to 20,000,000</b> <br />
                            <input type="radio" name="price" value="2" /><b>Above 20,000,000</b> <br />
                            <button id="btnPriceFilter" class="btn btn-default cart col-md-12" style="margin-left: 0px" onclick="priceFilter()">Find</button>
                        </div>
                    </div><!--/price-range-->

                        <!--shipping-->
                    @*<div class="shipping text-center">
                        <img src="~/Content/images/home/shipping.jpg" alt="" />
                    </div>*@
                    <!--/shipping-->

                </div>
            </div>
            @RenderBody()
        </div>
        <hr />
            </div>
        <footer id="footer">
            <!--Footer-->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="companyinfo">
                                <h2><span>e</span>-shopper</h2>
                                <p>The mobile phone is used from when you get up in the morning and is often the last thing you interact with at night.</p>
                                <p>Jan Chipchase</p>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Content/images/home/iframe1.png" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Circle of Hands</p>
                                    <h2>24 DEC 2014</h2>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Content/images/home/iframe2.png" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Circle of Hands</p>
                                    <h2>24 DEC 2014</h2>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Content/images/home/iframe3.png" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Circle of Hands</p>
                                    <h2>24 DEC 2014</h2>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img src="~/Content/images/home/iframe4.png" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Circle of Hands</p>
                                    <h2>24 DEC 2014</h2>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="footer-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>Service</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Online Help</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Order Status</a></li>
                                    <li><a href="#">Change Location</a></li>
                                    <li><a href="#">FAQ’s</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>Mobile Shop</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="/Phone/PhoneList?categoryId=1">Samsung</a></li>
                                    <li><a href="/Phone/PhoneList?categoryId=2">Apple</a></li>
                                    <li><a href="/Phone/PhoneList?categoryId=5">LG</a></li>
                                    <li><a href="/Phone/PhoneList?categoryId=4">Sony</a></li>
                                    <li><a href="/Phone/PhoneList?categoryId=3">Xiaomi</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>Policies</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Privecy Policy</a></li>
                                    <li><a href="#">Refund Policy</a></li>
                                    <li><a href="#">Billing System</a></li>
                                    <li><a href="#">Ticket System</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>About Shopper</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Company Information</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Store Location</a></li>
                                    <li><a href="#">Affillate Program</a></li>
                                    <li><a href="#">Copyright</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:200px">
                            <div class="single-widget">
                                <h2>About Shopper</h2>
                                <form action="#" class="searchform">
                                    <input type="text" placeholder="Your email address" />
                                    <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                    <p>Get the most recent updates from <br />our site and be updated your self...</p>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
                    </div>
                </div>
            </div>

        </footer><!--/Footer-->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetAll", "Category")',
            type: 'POST',
            success: function (result) {
                var s = "";
                for (var i = 0; i < result.length; i++) {
                    s += '<div class="panel panel-default">' +
                                '<div class="panel-heading">' +
                                '    <h4 class="panel-title">' +
                                '        <a href="/Phone/PhoneList?categoryId=' + result[i].Id + '" >' +
                                '            <span class="badge pull-right"><i class="fa fa-plus"></i></span>' +
                                                result[i].Name +
                                '        </a>' +
                                '    </h4>' +
                                '</div>' +
                                '<div id="' + result[i].Name + '" class="panel-collapse collapse">' +
                                '    <div class="panel-body">' +
                                '    </div>' +
                                '</div>' +
                            '</div>';

                }
                $('#accordian').html(s);
            },
            error: function(){
                alert('No network connection!');
            }
        });
    });


    function priceFilter() {
        var value = $('input[name="price"]:checked').val();
        if (value != undefined) {
            window.location = '@Url.Action("PhoneSearch", "Phone")?priceFilter=' + value;
        }
    }
</script>





