@*@model Website_Mobile_Sale_SE1063.Models.ViewModels.ShoppingCartCheckoutViewModel*@
@{
    Layout = "~/Views/Shared/_LayoutWithoutCategory.cshtml";
}


<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td class="cart_delete"></td>
                    </tr>
                </thead>
                <tbody id="cart-details">

                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Use Coupon Code</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Use Gift Voucher</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Estimate Shipping & Taxes</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Country:</label>
                            <select>
                                <option>United States</option>
                                <option>Bangladesh</option>
                                <option>UK</option>
                                <option>India</option>
                                <option>Pakistan</option>
                                <option>Ucrane</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Region / State:</label>
                            <select>
                                <option>Select</option>
                                <option>Dhaka</option>
                                <option>London</option>
                                <option>Dillih</option>
                                <option>Lahore</option>
                                <option>Alaska</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Zip Code:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="">Get Quotes</a>
                    <a class="btn btn-default check_out" href="">Continue</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area" id="total-area">
                    @*<ul>
                        <li>Cart Sub Total <span>@Model.Total</span></li>
                        <li>Eco Tax <span>Free</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>@Model.Total</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Update</a>
                    <a class="btn btn-default check_out" href="">Check Out</a>*@
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->

<script src="~/Scripts/cart.js"></script>
<script>
    var cart;
    $(document).ready(function () {
        cart = new Cart('@(User.Identity.IsAuthenticated ? ViewBag.UserId : "Anonymous")');
        cart.Initialize();

        loadCart();

        
    });

    function loadCart() {
        $.ajax({
            url: '@Url.Action("GetCart", "ShoppingCart")',
            type: 'POST',
            data: {
                cartId: cart.Id,
                userId: cart.UserId,
            },
            success: function (data) {
                loadCartToHTML(data);
            },
            error: function () {
                alert('No network connection!');
            }
        });
    }

    function loadCartToHTML(data) {
        var s = "";
        for (var i = 0; i < data.CartDetails.length; i++) {
            s += '<tr data-phone-id="' + data.CartDetails[i].PhoneModel.Id + '">' +
                        '    <td class="cart_product">' +
                        '        <a href=""><img src="' + data.CartDetails[i].PhoneModel.Image +'" alt=""></a>' +
                        '    </td>' +
                        '    <td class="cart_description">' +
                        '        <h4><a href="">' + data.CartDetails[i].PhoneModel.Name + '</a></h4>' +
                        '        <p>' + data.CartDetails[i].PhoneModel.Description + '</p>' +
                        '    </td>' +
                        '    <td class="cart_price">' +
                        '        <p>' + data.CartDetails[i].PhoneModel.Price + '</p>' +
                        '    </td>' +
                        '    <td class="cart_quantity">' +
                        '        <div class="cart_quantity_button">' +
                        '            <a class="cart_quantity_up" id="quantity-up" style="cursor: pointer"> + </a>' +
                        '            <input class="cart_quantity_input" type="text" name="quantity" value="' + data.CartDetails[i].Quantity + '" autocomplete="off" size="2" id="phone-quantity" readonly>' +
                        '            <a class="cart_quantity_down" id="quantity-down" style="cursor: pointer"> - </a>' +
                        '        </div>' +
                        '    </td>' +
                        '    <td class="cart_total">' +
                        '        <p class="cart_total_price">' + toMoney(data.CartDetails[i].Total) + 'đ</p>' +
                        '    </td>' +
                        '    <td class="cart_delete">' +
                        '        <a class="cart_quantity_delete" id="delete-phone" data-phone-id="' + data.CartDetails[i].PhoneModel.Id + '"><i class="fa fa-times"></i></a>' +
                        '        <input type="hidden" value="' + data.CartDetails[i].PhoneModel.Id + '" id="phone-id"/>' +
                        '    </td>' +
                        '</tr>';
        }
        $('#cart-details').html(s);

        var s2 = '<ul>'+
                    '    <li>Cart Sub Total <span>' + data.Total + '</span></li>' +
                    '    <li>Eco Tax <span>Free</span></li>' +
                    '    <li>Shipping Cost <span>Free</span></li>' +
                    '    <li>Total <span>' + data.Total + '</span></li>' +
                    '</ul>' +
                    '<a class="btn btn-default update" id="update">Update</a>' +
                    '<a class="btn btn-default check_out" id="btn-checkout" href="/ShoppingCart/Checkout?cartId=' + cart.Id + '">Check Out</a>';

        $('#total-area').html(s2);

        @*$('#btn-checkout').click(function () {
            $.ajax({
                url: '@Url.Action("Checkout", "ShoppingCart")',
                type: 'POST',
                data: {
                    cartId: cart.Id
                },
                success: function (result) {
                    if (result.Success == true) {
                        alert('Checkout successfully');
                        localStorage.removeItem("mobile_cart");
                    } else {
                        alert(result.Error);
                    }
                },
                error: function () {
                    alert('No network connection');
                }
            });
        });*@

        $('a[id="quantity-up"]').each(function () {
            $(this).click(function () {
                var val = $(this).next().val();
                $(this).next().val(++val);
            });
        });
        $('a[id="quantity-down"]').each(function () {
            $(this).click(function () {
                var val = $(this).prev().val();
                $(this).prev().val((val == 1 ? val : --val));
            });
        });

        $('#update').click(function () {
            updateCart();
        });

        $('a[id="delete-phone"]').each(function () {
            $(this).click(function () {
                var phoneId = $(this).attr('data-phone-id');
                $('tr[data-phone-id="' + phoneId + '"]').remove();
                updateCart();

            });
        });
    }

    function updateCart() {
        var phoneId = [];
        var quantity = [];

        $('input[id="phone-quantity"]').each(function () {
            quantity.push($(this).val());
        });
        $('input[id="phone-id"]').each(function () {
            phoneId.push($(this).val());
        });
        $.ajax({
            url: '@Url.Action("UpdateEntireCart", "ShoppingCart")',
            type: 'POST',
            data: {
                phoneId: phoneId,
                quantity: quantity,
                cartId: cart.Id,
            },
            success: function (data) {
                loadCartToHTML(data);
            },
            error: function () {
                alert('No network connection');
            }
        });
    }



</script>
