@model Website_Mobile_Sale_SE1063.Models.Entities.Category

@{
    ViewBag.Title = "DeleteConfirmed";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<section>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Are you sure to want to delete @Html.DisplayFor(model => model.Name)
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ParentId)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ParentId)
                                    </dd>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("DeleteConfirmedCategory", "Admin", new { @categoryId = Model.Id }))
            {

                <div class="form-action no-color">

                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "AdminCategoryList")
                </div>
            }

        </div>
</section>